<%- include("partials/header"); -%>
<h1>CONTACT ME</h1></ br>
     <h4><b>NAME : </b>Lokesh</ br> </h4>
     <h4></ br><b>EMAIL : </b><a class="none clr1" href="mailto:lokeshchinta369@gmail.com">lokeshchinta369@gmail.com</a></h4>
     <h4></ br><b>ALTERNATE EMAIL : </b><a class="none clr1" href="mailto:lokeshchinta369@gmail.com">lokeshchinta4423@gmail.com</a></h4>

<%- include("partials/footer"); -%>
